/* .logo {
    padding-top: 19px;padding-bottom: 19px;
} */
/* .title-top {
    font-style: normal;font-weight: 400;font-size: 16px;color: #525F7F;font-family: 'Verdana', Tahoma, sans-serif; 
} */
/* .liner {
    background: #F0F0F0;height: 1px;
} */
/* .title-main {
    font-style: normal;font-weight: 400;font-size: 30px;line-height: 36px;color: #1C1E23;margin: 0;font-family: 'Verdana', Tahoma, sans-serif;
} */
/* .baner-img {
    border-radius: 8px;max-width: 552px;width: 100%;overflow: hidden;
} */
/* .baner-text-top {
    font-style: normal;font-weight: 400;font-size: 16px;line-height: 25px;color: #1C1E23;font-family: 'Verdana', Tahoma, sans-serif;
} */
/* .baner-text-bottom {
    font-style: normal;font-weight: 400;font-size: 16px;line-height: 25px;color: #8F98B1;font-family: 'Verdana', Tahoma, sans-serif;
} */
/* .btn {
    padding-top: 16px;padding-right: 50px;padding-bottom: 16px;padding-left: 50px;color: #ffffff;background-color: #489DFF;border-radius: 7px;
} */
/* .card-img {
    width: 260px;height: 260px;overflow: hidden;border-radius: 7px;
} */
/* .card-title {
    font-style: normal;font-weight: 400;font-size: 20px;line-height: 30px;color: #333333;font-family: 'Verdana', Tahoma, sans-serif;
} */
/* .card-prais {
    font-style: normal;font-weight: 500;font-size: 16px;color: #489DFF;font-family: 'Verdana', Tahoma, sans-serif;
} */
/* .footer-link {
    font-style: normal;font-weight: 400;font-size: 12px;line-height: 20px;font-family: 'Verdana', Tahoma, sans-serif;
} */
/* .link-text {
    color: #525F7F;
} */
/* .link-footer {
    color: #489DFF;
} */
/* .icon{
    width: 18px;height: 18px;
} */
/* .pb-8 {
    padding-bottom: 8px;
} */
/* .pt-pb-10 {
    padding-top: 10px; padding-bottom: 10px;
} */
/* .pb-16 {
    padding-bottom: 16px;
} */
/* .pt-pb-16 {
    padding-top: 16px;padding-bottom: 16px;
} */
/* .pt-pb-20 {
    padding-top: 20px;padding-bottom: 20px;
} */
/* .pt-pb-25 {
    padding-top: 25px ;padding-bottom: 25px;
} */


/* -- responsiv -- */
/* @media screen and (max-width: 600px) {
    .table-600 {
      width: 280px !important;
    }
    .table-552 {
        width: 277px !important;
    }
    .title-main {
        font-size: 28px !important;
    }
    .card-mobil {
        display: block !important;
    }
        
  } */